@charset "utf-8";
/* CSS Geral BASIC */
/* Nome das Fontes:  Ubuntu  */


/* Reset */
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li { margin:0 auto; padding:0 auto; list-style:none; outline:none; border:none; }
/* End Reset */


/*------------------------------- Body ---------------------------------*/
body { margin: 0px 0px 0px 0px; padding:0; letter-spacing:0px; font-family: 'Ubuntu', sans-serif; color:#000; list-style:none; }

html { border:0; height:100%; }

*:focus { outline: none; }

input { background-color:transparent; border:none; letter-spacing:0px; font-size:15px; color:#939393;  }

/*------------------------------- Tags ---------------------------------*/
h1 { font-family: 'Ubuntu', sans-serif; font-size:20px; color:#1d1c1c; margin:5px 0px 10px 0px;  line-height:22px; font-weight: bold; }

h2 { font-family: 'Ubuntu', sans-serif; font-size:18px; color:#3b3a3a; margin:10px 0px 5px 0px;  line-height:20px; font-weight:bold; }

h3 { font-family: 'Ubuntu', sans-serif; font-size:18px; color:#000; margin:0;  line-height:20px; font-weight:normal;}

h4 { font-family: 'Ubuntu', sans-serif; font-size:25px; color:#FFF; margin:10px 0px 5px 0px;  line-height:27px; font-weight: bold; text-transform: uppercase; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }

h6 { font-family: 'Ubuntu', sans-serif; font-size:30px; color:#000; margin:0px 0px 2px 0px;  line-height:30px; }


a { font-size:15px; color:#000; margin:0px 0px 2px 0px; line-height:22px; text-decoration:none; }

a:hover { text-decoration:underline; }

a:visited { text-decoration:none; outline:none; }

/*a:link, a.link, a:visited, a.visited, .efeito_opacity{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;text-decoration:none;
}
a img {opacity:1;filter:Alpha(opacity=100);}
a img:hover {
	opacity: 0.8;
	filter:Alpha(opacity=80);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;text-decoration:none;
}*/




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- GERAL -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
body {background:url(../images/bg_body.jpg) center -230px repeat-x;}
body.index {background-position: center -20px;}
.clear {clear:both;}

#tudo {width:980px; margin: 0 auto; }
.titulo {background:url(../images/bg_titulo.png) top right no-repeat; height:40px; display:block; overflow:hidden; line-height:30px; padding: 0 0 0 20px; color:#FFF; font-size:23px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);}
.titulo.sem_efeito {background-position: 0; position:absolute; top:0;}



.index #conteudo #princ {width:480px;}
.index #conteudo #aux {width:480px}
.index #conteudo #aux .titulo_pagina {margin:20px 0 0 0;}
.index #conteudo .dicas_home {padding:0}
.index #conteudo .dicas_home li {margin:10px 0; width:440px; height:140px;}
.index #conteudo .dicas_home img {float:left; margin-right:15px; max-width:190px; border:solid 1px #000;}
.index #conteudo .dicas_home p {font-size:12px; line-height:14px;}
.index #conteudo .dicas_home .destaque {font-weight:bold; font-size:14px; line-height:16px;}

#slider_dicas_home {margin-left: 15px;}
#aux #prevBtn a, #aux #nextBtn a {text-indent:-9999px; display:block; width:18px; height:18px;}
#aux #prevBtn a {float:left; background:url(../images/seta_left.png) center center no-repeat; margin: -70px 0px 0px -10px;}
#aux #nextBtn a {float:right;background:url(../images/seta_right.png) center center no-repeat; margin: -70px 0px 0px 0px;}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- MENU -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_menu {background:url(../images/bg_menu.png) top center repeat-x;}
#menu {width:980px; height:120px; margin: 0 auto; position:relative;}
#menu .logo {float:left; margin-right: 10px;}
#menu .logo img {max-width:280px; position: absolute; z-index: 999;}

#menu #nav_menu { margin-left: 165px;}
#menu #nav_menu li {float:left; width:96px; height:111px; margin: 0 2px; text-align:center;}
#menu #nav_menu li:hover,#menu #nav_menu li.menu_ativo {background:url(../images/bg_menu_ativo.png) top center no-repeat; position:relative; z-index:9999; }
#menu #nav_menu li a {text-transform:uppercase; display: block; height: 95px; line-height:95px; text-decoration:none; color:#FFF;}

#menu .telefone {float:right; width:160px; height:35px; padding-top:5px;}
#menu .telefone h3 {color:#FFF; font-size:18px;}
#menu .telefone .icon_tel {float:left; max-width:25px;}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_banner { position:relative; /*margin-top:-30px*/; width: 980px; height: 350px;}
#content_banner .botoes_midia {position:absolute; top:-25px; right:0; width:135px;}
#content_banner .botoes_midia li{float:left;}
#content_banner .botoes_midia li:hover {margin-top:-5px;}

#mascara_slider {position:absolute; bottom:0; width:980px; height:70px; overflow:hidden; background:url(../images/mascara_slider.png) bottom center no-repeat; z-index:9999;}
#content_banner #slider{width:980px; height:340px; overflow:hidden; float:left; margin-top:-30px}
#content_banner .theme-default .nivo-controlNav {padding-top: 330px; position: relative; z-index: 9999;}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------- CHAMADAS INTERNAS ------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.content_chamada {background:url(../images/content_chamada.jpg) center center no-repeat; width:319px; height:206px; position:relative; float:left; margin:0 3px 10px;}
.content_chamada:hover{opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); }
.content_chamada img {margin:13px 14px; max-width:290px;}
.content_chamada h2 {position:absolute; left:14px; bottom:10px; width:160px; font-weight:normal; padding-left:5px;}
.content_chamada .titulo.sem_efeito {width:285px; font-size:18px; margin:}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------ CONTEUDO ------------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo {margin: 20px 0; overflow:hidden;}
#conteudo #princ {float:left; width:645px;}
.titulo_pagina {border-bottom: solid 2px #33a557; padding: 0 0 5px 0;}
#conteudo #aux {float:right; width:325px;}
#conteudo #aux #parceiro {border: solid 7px #222; width:303px; background:#000;}
#conteudo #aux #parceiro .titulo { position:relative; z-index:99; font-weight:normal; margin: 0;}
#conteudo #aux #parceiro img { position:relative; z-index:98; margin-top: -15px;}
#conteudo #aux #parceiro a:hover {opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80);}

#conteudo ul.lista {margin:20px 0 0 0; padding:0;}
#conteudo ul.lista li{width:615px; background:url(../images/bg_lista.png) left center no-repeat; padding-left:15px; margin: 5px 10px;}
#conteudo ul.lista li:hover {margin-left: 15px; margin-right:5px;}
#conteudo ul.lista li:hover a {color:#33a557; text-decoration:none; font-weight:bold;}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- LISTAGEM DOS ITENS ------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#lista_itens {padding:0;}
#lista_itens li {margin-bottom:20px; overflow:hidden; clear:both;}
#lista_itens .titulo_pagina {margin-left:335px;}
#lista_itens .titulo {background-position:top left; width: 180px; margin-left: -4px;}
#lista_itens .titulo:hover {margin-left:0px;}
#lista_itens p {line-height: 17px; margin-bottom: 5px;}
#lista_itens .content_img {float:left; width:327px; height:215px; position:relative; display:block; background:url(../images/bg_img_lista_itens.png) center center no-repeat;}
#lista_itens .content_img img {position:absolute; top:17px; left:18px;}

#conteudo .theme-pascal .banner_interna {width:960px; height:400px; margin:15px auto 30px;}
#conteudo .theme-pascal .banner_interna .nivo-controlNav {background:none; left:330px; bottom:-50px;}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- RODAPE ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_rodape {background:url(../images/bg_rodape.jpg) top center repeat-x #000; height:91px; }
#rodape {width:980px; margin:0 auto;}
#rodape .copyright {float:left; color:#FFF; font-size:12px; line-height:12px; margin:15px 8px}

#rodape #nav_rodape {width:435px; height:30px; margin: 0 auto; padding:0;}
#rodape #nav_rodape li {float:left; margin:16px 5px;}
#rodape #nav_rodape li a {color:#FFF; font-size:16px; text-decoration:none;}
#rodape #nav_rodape li:hover {border-bottom: solid 2px #33a557;}

#rodape .botoes_midia { float:right; padding:0; margin-top:-30px;}
#rodape .botoes_midia li {width:110px; float:left;}
#rodape .botoes_midia li:hover {margin-top:3px;}
#rodape .botoes_midia li  p {float:left; text-align:center; color:#FFF; font-size:12px; line-height:30px;}
#rodape .botoes_midia li img {margin-left:5px;}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------- INTERNA DE EMPRESA E DE PRODUTO ------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo .banner_lateral {width:649px; height:374px; overflow:hidden; padding:25px 0px 20px 0px; position:relative; background:url(../images/bg_banner_lateral.jpg) top center no-repeat; display:block; float:left; margin:0 10px 0 0}
#conteudo .banner_lateral_img{width:649px; height:374px; overflow:hidden;}
#conteudo .banner_lateral img {margin:0px 27px}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------- SLIDER ------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container-infos-galeria-grande{width:649px; height:419px;}


#lista-videos-imagens-interna-ul{width:555px; background:#222121;/* background:#999;*/ border:#FF0 solid 1px; height:90px; margin:0px 0px 0px 0px; bottom:30px; left:28px; overflow:hidden; float:left; position:absolute;  padding-left:35px; z-index:980; }

	
	#lista-videos-imagens-interna-ul-div{float:left; position:relative; width:300px; margin:0px; overflow:hidden; }
	

	#lista-videos-imagens-interna-ul ul{overflow:hidden; position:relative; }
	#lista-videos-imagens-interna-ul ul li{width:100px; height:90px; overflow:hidden; margin:0px 0px 0px 0px; list-style:none; background:none; float:left;}
	
	#lista-videos-imagens-interna-ul ul li:hover {margin-left: 0px; margin-right:0px;}

	
	#lista-videos-imagens-interna-ul ul li div{width:80px; height:90px; margin:0px 0px 0px 0px; overflow:hidden; float:left;}
	
		#videos-controles-btn-voltar{width:30px; height:66px; margin:15px 0px 0px 0px; overflow:hidden; left:0px; float:left; position:absolute; z-index:999;}
		#videos-controles-bnt-avancar-2{width:20px; height:66px; margin:15px 0px 0px 0px; overflow:hidden; float:right; right:0px; position:absolute; z-index:998;}
			









#conteudo .content_descricao p {text-align:justify; margin-bottom:10px;}
#conteudo .content_descricao p:first-letter {padding-left:40px;}

#info_pagina {margin-top:-35px; position:relative; z-index:999;}
#info_pagina h4 {padding-top:40px;}

#info_pagina .navegacao {float:right;color:#FFF; margin-top:25px;}
#info_pagina .navegacao a {color:#FFF;}
#info_pagina .navegacao span {font-weight:bold;}

#info_pagina .botoes_midia {float:right; margin-top:-33px; width:135px;}
#info_pagina .botoes_midia li {float:left;}
#info_pagina .botoes_midia li:hover {margin-top:-5px;}

#info_pagina .botoes_midia .icon_tel {float:left; max-width:25px;}
#info_pagina .botoes_midia h3 {float:left; color:#FFF; margin:0 10px 0 0;}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------- PÁGINA DE CONTATO ------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#princ .endereco {padding-bottom:5px;}
#princ .endereco iframe {border: solid 1px #000;-webkit-box-shadow: 1px 1px 5px 0px #000; box-shadow: 1px 1px 5px 0px #000;}

#form_contato{margin:25px 0 0 5px}
#form_orcamento{margin:0 0 0 5px}

#conteudo label, #conteudo input, #conteudo select {display:block; font-size:14px; font-weight:bold;}
#conteudo input, #conteudo textarea, #conteudo select {background:#33a557; border-radius: 5px; width:300px; height:25px; margin:0 0 5px 0; padding:5px; color:#FFF; font-weight:normal; }
#conteudo select {width:310px; height:35px;}
#conteudo textarea {height:150px;display:block;}
#conteudo  #enviar {float:right; width:100px; margin-right:10px;}

.rodape-endereco{
	    padding-top: 15px;
	margin-left: 10px;
	clear: both;
	width: 100%;
}

.rodape-endereco p{
	color: #fff;
	float: left;
	margin-right: 40px;
}


.clearfix{
	clear: both;
}




