@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top110 { margin-top:110px; }
.top120 { margin-top:120px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top155 { margin-top:155px; }
.top160 { margin-top:160px; }
.top170 { margin-top:170px; }
.top180 { margin-top:180px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top205 { margin-top:205px; }
.top210 { margin-top:210px; }
.top230 { margin-top:230px; }
.top250 { margin-top:250px; }
.top260 { margin-top:260px; }
.top270 { margin-top:270px; }
.top330 { margin-top:330px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }
.right230 { margin-right:230px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt170 { padding-top:170px; }
.pt190 { padding-top:190px; }
.pt200 { padding-top:200px; }
.pt300 { padding-top:300px; }

.pl5 { padding-left:5px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }


.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb190 { padding-bottom:190px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.pg0{padding:0px;}
.pg5{padding:5px;}
.pg10{padding:10px;}
.pg20{padding:20px;}
.pg60{padding:60px;}


.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}



body {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}



.padding0{
	padding:0px !important;
}

.lato-black{
	font-family:"Lato Black";
}

h1 {
	font-size  : 17px;
	color      : #000;
	font-weight: 400;
}

h1 span {

}

h2 {
	font-size  : 30px;
	color      : #000;
	font-weight: 700;
}

h2 span {

}


h3 {

}

h3 span{

}

h4 {
 font-size  : 20px;
 color      : #fff;
 font-weight: 400;
}

h4 span {
	color      : #000;
	font-weight: 700;
}


h5{

}


h5 span{

}


h6{
	/*font-family:"Lato Black";
	color      : #000;
	font-size  :30px;
	/*text-decoration: underline;*/
}

p {
	color:#000;
	font-size:15px;
	text-align: justify;
}

p span{
	color:#fff;
}


a:hover {
	text-decoration: none;
}

.media-left, .media-right, .media-body {
    display       : table-cell;
    vertical-align: middle;
		padding-right : 0px;
}

input,
textarea{
	border: 1px solid #000 ;
	min-height: 40px;
	color:#000;
	border-radius: 0px !important;
}

/*.btn{
	border-radius: 0px;
}*/


::-webkit-input-placeholder {
	color: #000 !important;
	font-weight: 400;
	font-size: 12px;
}

:-moz-placeholder {
	color: #000 !important;
	font-weight: 400;
	font-size: 12px;
}

::-moz-placeholder {
	color: #000 !important;
	font-weight: 400;
	font-size: 12px;
}

:-ms-input-placeholder {
	color: #000 !important;
	font-weight: 100;
	font-size: 12px;
}



/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}


/**
============================================
					RODAPE
============================================
*/







/**
============================================
					TOPO
============================================
*/

.select-menu {
	  padding: 10px 65px;
    background        : url(../imgs/menu_topo.png) center no-repeat;
    -moz-appearance   : none;
    -webkit-appearance: none;
    appearance        : none;
}

.menu_topo{
	position: relative;
	background: #2f9750;
}

.logo{
	position: absolute;
	top: 0;
	z-index: 9;
	left: 10px;
}

.fundo_preto{
	background: #000;
}

/**
============================================
					TOPO
============================================
*/



/**
============================================
					HOME
============================================
*/



/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 12px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }





 .container_banner_faixa{
  width: 100%;
  height: 41px;
  background: url(../imgs/barra_personalizada_home.png) bottom center no-repeat;
  position: absolute;
  bottom: -1px;
  z-index: 10;
 }



 /* Carousel base class */
 .carroucel-home .carousel {
  height: 300px;
 }
 /* Since positioning the image, we need to help out the caption */
 .carroucel-home .carousel-caption {
  text-align: left;
  z-index: 10;
  bottom: 0px;
 }

 /* Declare heights because of positioning of img element */
 .carroucel-home .carousel .item {
  height: 300px;
 }


 .carroucel-home .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
 }

 .carroucel-home{
  margin-top:-1px;
  position: relative;
 }

 .carroucel-home h1 {
  color: #fff;
  font-weight:100;
  font-size:20px;
 }

 .carroucel-home p{
  text-align:right;
  color: #fff;
  font-weight:400;
  font-size:20px;

 }


 .carroucel-home .carousel-caption {
  top:10px;
  right:0px;
  left: 0px;
 }

 .carroucel-home li{
  margin:0px !important;
  width:16px;
  height:16px;
  background:#fff;
 }

 .carroucel-home li.active{
  margin:0px !important;
  width:16px;
  height:16px;
  background:#2f9750;
 }

 .carroucel-home .carousel-indicators {
    top: 269px;
    margin-left: -8%;
    text-align: center;
    width: 83px;
}



  .carroucel-home .carousel-control{
  	opacity:1;
  	color:#000;
  	top:164px;
  	width: 7%;
  	z-index: 999;
  }

  .carroucel-home .glyphicon-chevron-right {
  	right: 40px;
  }

  .carroucel-home .glyphicon-chevron-left {
  	left: 331px;
  }

  .carroucel-home .carousel-control:hover{
  	color:#000;
  	opacity:0.5;
  }

.servicos_home{
	padding-bottom: 12px;
	border-bottom: 2px solid #2f9750;
}

.tipos_servicos_home{
	padding: 13px;
	background: #e5e5e5;
}

.tipos_servicos_home h1 {
    overflow: hidden;
    font-size: 17px;
    color: #000;
    height: 20px;
}


.fa-angle-right:before {
 font-size: 20px;
}

.dicas_home p{
font-size: 14px;
	height: 65px;
	overflow: hidden;
}

.caroucel_dicas li{
 margin:0px !important;
 width:16px;
 height:16px;
 background:#000;
}

.caroucel_dicas li.active{
 margin:0px !important;
 width:16px;
 height:16px;
 background:#2f9750;
}

.caroucel_dicas .carousel-indicators {
	 top: 150px;
	 margin-left: -8%;
	 text-align: center;
	 width: 83px;
}



 .caroucel_dicas .carousel-control{
	 opacity:1;
	 color:#000;
	 top:164px;
	 width: 7%;
	 z-index: 999;
 }

 .borda_cinza{
	 border: 1px solid #e5e5e5;
 }


/**
============================================
					HOME
============================================
*/





/**
============================================
					EMPRESA
============================================
*/


.breadcrumb {
padding    : 8px 0px;
font-size  : 15px;
background : none;
}

.breadcrumb i{
border-radius: 50%;
border       : 2px solid #fff;
padding      : 5px;

}



.breadcrumb i:hover,.breadcrumb a:hover{
color:#fff;
}

.breadcrumb>.active {
  color: #fff !important;
}


.breadcrumb a {
text-decoration: none;
outline        : none;
display        : block;
float          : left;
font-size      : 15px;
line-height    : 36px;
color          : white;
/*need more margin on the left of links to accomodate the numbers*/
padding        :0px 2px 0px 27px;
position       : relative;
}


/*hover/active styles*/
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content : '';
  position: absolute;
  top     : 14px;
  right : -15px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width : 10px;
  height: 10px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  /*stylish arrow design using box shadow*/
  box-shadow:
    2px -2px 0 2px rgba(255, 255, 255, 255.1),
    3px -3px 0 2px rgba(255, 255, 255,1);
  /*
    5px - for rounded arrows and
    50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}

.empresa_descricao h1{
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}


/**
============================================
					EMPRESA
============================================
*/

/**
============================================
					DICAS
============================================
*/

.dica_geral h1{
	font-weight: bold;
}
.dica_geral img{
	border-radius: 5px;
		border: 2px solid #2f9750;
}
/**
============================================
					DICAS
============================================
*/



/**
============================================
					CONTATOS
============================================
*/

.contatos h1{
	font-size: 20px;
	font-weight: 700;
}

.btn-formulario,
.btn-formulario:hover{
	background:#2f9750;
	color:#fff;
	padding: 12px 17px;
	font-size:20px;
	font-weight:700;
	border-radius:0px;
}

.fundo_formulario_fale input,
.fundo_formulario_fale textarea{
	border: 1px solid #2f9750;
}


/**
============================================
					ACCORDION BOSTRAP
============================================
*/
#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
	outline: none;
	font-weight:bold;
	text-decoration: none;
}

.acording span{
	font-size:14px;
	color:#eb4c77;
	font-weight:400;
}

.panel-default>.panel-heading {
	color: #333;
	background: none;
	border:0px;
	height:40px;
	border-radius:0px;
}

.panel-group {
	background: #f2f2f2;
	margin-bottom: 20px;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
	content:"\e113";
	float: right;
	color: #eb4c77;
	margin-top: 7px;
	font-family: 'Glyphicons Halflings';
	margin-right :1em;
}



#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
	content:"\e114";
}

.acording b{
	border-radius:50px;
	padding: 12px 25px;
	background:#e74d76;
	color:#fff;
	font-size:31px;
}

.acording h3,.panel-heading span{
	font-weight:400;
	color:#000;
	font-size:12px;
}

.fa-check:before {
	color:#00f600;
	content: "\f00c";
}



/**
============================================
					ACCORDION BOSTRAP
============================================
*/

/**
============================================
          CONTATOS
============================================
*/

/**
============================================
          PRODUTOS
============================================
*/

.produtos_geral img{
	border       : 2px solid #000;
	border-radius: 5px;
}

.produtos_geral h1{
	font-size  : 20px;
	font-weight: 700;
}

.produtos_geral p{
	font-size: 14px;
	overflow: hidden;
	max-height: 102px;
}

.servicos_geral img{
	border       : 2px solid #000;
	border-radius: 5px;
}

.servicos_geral h1{
	font-size  : 20px;
	font-weight: 700;
}

.servicos_geral p{
	font-size: 14px;
	overflow: hidden;
	max-height: 102px;
}

.produtos_dentro h1{
	font-size  : 30px;
	font-weight: 700;
}

.carroucel-produtos li{
 margin   :2px !important;
 width     :16px;
 height    :16px;
 background:#a7a4a4;
}

.carroucel-produtos li.active{
 margin    :2px !important;
 width     :16px;
 height    :16px;
 background:#2f9750;
}

.carroucel-produtos .carousel-indicators {
    top: 293px;
    margin-left: -48%;
    text-align: center;
    width: 100%;
}

.btn_transparente_branco1 {
    border       : 0px;
    color        : #fff;
    border-radius: 0px;
    font-family  : "Lato Black";
		background   : #ff0327;
    font-size    : 13px;
    padding      : 17px 6px;
}



/**
============================================
          PRODUTOS
============================================
*/




/**
============================================
          ORCAMENTO
============================================
*/

.input-lista-prod-orcamentos {
	border               :none;
	width                : 32px;
	min-height           : 36px !important;
	text-align           : center;
  background           : #e2a314;
	-webkit-border-radius: 5px;
	-moz-border-radius   : 5px;
	border-radius        : 5px;
  font-size            : 13px;

}


/**
============================================
          ORCAMENTO
============================================
*/


.list-dica p{
	height: 68px;
    overflow: hidden;
}

.bg_verde{
	overflow: hidden;
	background: #2f9750;
}

.home_personalizado {
	padding-left: 0px !important;
}


.fale_conosco p{
	font-size: 17px;
	font-weight: 400;
}
